@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --color-black: #080404;
  --color-gray: #545454;
  --color-silver: #b2b2b2;
  --color-white: #ffffff;
  --color-light: #f9f9f9;
  --color-primary: #4079ff;
  --color-active: #692df6;
  --color-success: #ade25d;
  --color-info: #3e00f9;
  --color-warn: #eaff72;
  --color-error: #f95200;
  --color-hover: rgba(0, 0, 0, 0.027);
}

html {
  font-weight: 400;
  font-size: 62.5%;
  color: var(--color-black);
}

body {
  font-size: 1.6rem;
}
